:root {
  /* 色管理用の変数 */
  --black-color: #333;
  --danger-color: #d81e32;
}

/* ---------- base ---------- */
body {
  color: var(--black-color);
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
}

/* ---------- layout ---------- */
.bi-clipboard2-plus-fill,
.bi-heart-pulse {
  color: var(--danger-color);
}
